---
layout: default
---



{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include projects.html %}

{% include publications.html %}

{% include skills.html %}

<a href="https://info.flagcounter.com/SiVv"><img src="https://s11.flagcounter.com/count2/SiVv/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>

<!--{% include fb-like.html %}--->

<!--{% include googleebb10a8654e725fd.html %}-->
